<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sipek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Telephony.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sipek.Properties.Settings>
            <setting name="cfgSipPort" serializeAs="String">
                <value>5060</value>
            </setting>
            <setting name="cfgRingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgSipAccountPorts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>5060</string>
                        <string>5060</string>
                        <string>5060</string>
                        <string>5060</string>
                        <string>5060</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountRegPeriod" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>3600</string>
                        <string>3600</string>
                        <string>3600</string>
                        <string>3600</string>
                        <string>3600</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgSipAccountDomains" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*</string>
                        <string>*</string>
                        <string>*</string>
                        <string>*</string>
                        <string>*</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgCFUFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgCFUNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgCFNRNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgCFNRFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgDNDFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgCFBFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgCFBNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgAAFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgAATimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cfgSipAccountDisplayName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountAddresses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountPassword" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountIds" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountUsername" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountState" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgCodecList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>PCMU/8000/1</string>
                        <string>PCMA/8000/1</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Sipek.Properties.Settings>
        <Telephony.Properties.Settings>
            <setting name="cfgSipPort" serializeAs="String">
                <value>5060</value>
            </setting>
            <setting name="cfgRingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgSipAccountPorts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>5060</string>
                        <string>5060</string>
                        <string>5060</string>
                        <string>5060</string>
                        <string>5060</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountRegPeriod" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>3600</string>
                        <string>3600</string>
                        <string>3600</string>
                        <string>3600</string>
                        <string>3600</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgSipAccountDomains" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgCFUFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgCFUNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgCFNRNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgCFNRFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgDNDFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgCFBFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgCFBNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgAAFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgAATimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cfgSipAccountDisplayName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountAddresses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountPassword" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountIds" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cfgSipAccountUsername" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
        </Telephony.Properties.Settings>
    </userSettings>
</configuration>